<header role="banner" id="fh5co-header">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <!-- Mobile Toggle Menu Button -->
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="margin-right: 20px;margin-top: 10px;"><i></i></a>
                    <div style="margin-left: 15px;">
                        <a class="navbar-brand" href="index.html" style="text-decoration: none">
                            <div style="float: left;">
                                <img id="img-header" src="images/logo-light.png" style="height: 60px;opacity:0.9;" />
                            </div>
                            <div style="float: right; margin-left: 15px">
                                Women Techmakers <br /> <span> Curitiba </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" style="margin-top: 15px;text-align: center">
                        <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
                        <li><a href="#" data-nav-section="iniciativa"><span>Iniciativa</span></a></li>
                        <li><a href="#" data-nav-section="depoimentos"><span>Depoimentos</span></a></li>
                        <li><a href="#" data-nav-section="eventos"><span>Eventos</span></a></li>
                        <li><a href="#" data-nav-section="sobre"><span>Sobre Nós</span></a></li>
                        <li><a href="#" data-nav-section="contato"><span>Contato</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <span id="text-header" class="to-animate" style="white-space:pre;"></span>
                        <h2 class="to-animate">Nossa missão é aumentar a participação de mulheres nas áreas tecnológicas através de eventos, palestras e iniciativas para que possamos dar inspiração, visibilidade e apoio.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fh5co-intro">
    <div class="container">
        <div class="row row-bottom-padded-lg">
            <div class="fh5co-block to-animate" style="background-image: url(images/img_7.jpg);">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-code"></i>
                    <h2>Conectar</h2>
                    <p>Com eventos como meetups, palestras, workshops e oficinas conseguimos conectar mulheres fortalecendo a iniciativa e empoderando as participantes.</p>
                    <p><a href="#" data-nav-section="eventos" class="btn btn-primary">Ver Eventos</a></p>
                </div>
            </div>
            <div class="fh5co-block to-animate" style="background-image: url(images/img_8.jpg);">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-bulb"></i>
                    <h2>Criar</h2>
                    <p>Com os eventos conseguimos criar uma rede de mulheres empoderadas e que se sintam mais incentivadas a permanecerem na área tecnológica.</p>
                    <p><a href="#" class="btn btn-primary">Saiba Mais</a></p>
                </div>
            </div>
            <div class="fh5co-block to-animate" style="background-image: url(images/img_10.jpg);">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-rocket"></i>
                    <h2>Celebrar</h2>
                    <p>Compartilhando e celebrando a paixão por tecnologia em nossos eventos conseguimos alcançar e conhecer melhor as mulheres que estão no setor tecnológico.</p>
                    <p><a href="#" class="btn btn-primary">Saiba Mais</a></p>
                </div>
            </div>
        </div>
        <div class="row watch-video text-center to-animate">
            <span>Women Techmakers: Make your passion.</span>
            <iframe width="100%" height="720" src="https://www.youtube.com/embed/PrXarTh77EA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="fh5co-services" data-section="iniciativa">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class=" center-border to-animate">INICIATIVA</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate text-center">
                        <h3>
                            O Women Techmakers é um programa criado em 2014 pelo Google cujo objetivo é dar visibilidade, recursos e
                            criar comunidades para incentivar a participação das mulheres na tecnologia.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 fh5co-service to-animate text-center">
                <i class="icon to-animate-2 icon-user-female"></i>
                <h3>Visibilidade</h3>
                <p>Para aumentar a visibildade mostramos o trabalho e as paixões das mulheres no setor de tecnologia, fornecendo uma plataforma para celebrar seus talentos e modelos de referência e com isso fortalecer a rede.</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate text-center">
                <i class="icon to-animate-2 icon-monitor"></i>
                <h3>Recursos</h3>
                <p>Fornecemos oportunidades para desenvolver as habilidades necessárias para o setor, auxiliando no desenvolvimento da carreira e apoiando as mulheres a se tornarem líderes em todas as fases de suas carreiras.</p>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate text-center">
                <i class="icon to-animate-2 icon-people"></i>
                <h3>Comunidades</h3>
                <p>Criamos uma comunidade de apoio em Curitiba na qual as mulheres se conectem, se inspirem e possam encorajar e compartilhar projetos umas com às outras afim de perceber suas paixões na área tecnológica.</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate text-center">
                <i class="icon to-animate-2 icon-symble-female"></i>
                <h3>Empoderamento</h3>
                <p>Um componente fundamental para termos um ambiente empoderado e diversificado de perpectivas, culturas e ideias é capacitar as mulheres para perseguir seus sonhos e construir ferramentas que mudam o mundo. </p>
            </div>
        </div>
    </div>
</section>

<section id="fh5co-testimonials" data-section="depoimentos">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Depoimentos</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>Conforme fomos interagindo com a comundade tivemos feedbacks muito positivos e temos alguns depoimentos de participantes dos eventos.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box-testimony">
                    <blockquote class="to-animate-2">
                        <p>&ldquo;Foi uma experiência muito importante para meu crescimento profissional e pessoal. Tive a oportunidade de conhecer pessoas incríveis e tive a chance de conhecer e aprender tecnologias novas!&rdquo;</p>
                    </blockquote>
                    <div class="author to-animate">
                        <figure><img src="images/testimonial1.jpg" alt="Depoimento 1"></figure>
                        <p>
                            Patricia Lopes, olist <span class="subtext">Developer</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-testimony">
                    <blockquote class="to-animate-2">
                        <p>&ldquo;Foi um prazer participar dos eventos do wtm, onde conhecíamos histórias, compartilhavamos conhecimento e informação, e nos apoiavamos sempre.&rdquo;</p>
                    </blockquote>
                    <div class="author to-animate">
                        <figure><img src="images/testimonial2.jpg" alt="Depoimento 2"></figure>
                        <p>
                            Day Souza, Sistema Faep <span class="subtext">Web Developer</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-testimony">
                    <blockquote class="to-animate-2">
                        <p>&ldquo;Estive no segundo aniversário do WTM e tive uma recepção incrível. O público hiper focado, interação com todos e uma experiência inesquecível. Valeu muito a pena estar ali para palestrar. Indico a todos que quiserem conhecer essa comunidade que acolhe as mulheres (e homens) na tecnologia! &rdquo;</p>
                    </blockquote>
                    <div class="author to-animate">
                        <figure><img src="images/testimonial3.jpg" alt="Depoimento 3"></figure>
                        <p>
                            Gedeane Kenshima, Etec Albert Einstein <span class="subtext">Maker e Professora</span>
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<section id="fh5co-work" data-section="eventos">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Eventos</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>Ao longo dos anos estivemos sempre promovendo eventos para a comunidade e participando de eventos de parceiros sendo que temos alguns registros logo abaixo e também para você não perder nenhum evento temos  nossa agenda também. </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            <div class="col-md-4 col-sm-6 col-xxs-12 text-center">
                <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
                    <img src="images/work_1.jpg" alt="Image" class="img-responsive img-work">
                    <div class="fh5co-text">
                        <h2>WTM Launch</h2>
                        <span>Centro Tecnológico Positivo, 2015</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xxs-12 text-center">
                <a href="images/work_2.jpg" class="fh5co-project-item image-popup to-animate">
                    <img src="images/work_2.jpg" alt="Image" class="img-responsive img-work">
                    <div class="fh5co-text">
                        <h2>Google I/O Extended</h2>
                        <span>Universidade Positivo, 2016</span>
                    </div>
                </a>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 col-xxs-12 text-center">
                <a href="images/work_3.jpg" class="fh5co-project-item image-popup to-animate">
                    <img src="images/work_3.jpg" alt="Image" class="img-responsive img-work">
                    <div class="fh5co-text">
                        <h2>GDG DevFest Sul</h2>
                        <span>Encontro da Amazônia, 2015</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xxs-12 text-center">
                <a href="images/work_4.jpg" class="fh5co-project-item image-popup to-animate">
                    <img src="images/work_4.jpg" alt="Image" class="img-responsive img-work">
                    <div class="fh5co-text">
                        <h2>WTM TechBirthday</h2>
                        <span>Universidade Positivo, 2016</span>
                    </div>
                </a>
            </div>

            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 col-xxs-12 text-center">
                <a href="images/work_5.jpg" class="fh5co-project-item image-popup to-animate">
                    <img src="images/work_5.jpg" alt="Image" class="img-responsive img-work">
                    <div class="fh5co-text">
                        <h2>Semana da Mulher</h2>
                        <span>2016</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xxs-12 text-center">
                <a href="images/work_6.jpg" class="fh5co-project-item image-popup to-animate">
                    <img src="images/work_6.jpg" alt="Image" class="img-responsive img-work">
                    <div class="fh5co-text">
                        <h2>Google Community Summit</h2>
                        <span>Google SP, 2015</span>
                    </div>
                </a>
            </div>

            <div class="clearfix visible-sm-block"></div>
        </div>
    </div>
</section>


<section id="fh5co-about" data-section="sobre">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Sobre Nós</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>Atualmente somos em duas mulheres para gerenciar a iniciativa, sendo que ambas trabalhamos com programação e amamos tecnologia.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="fh5co-person text-center to-animate">
                    <figure><img src="images/person1.jpg" alt="Image"></figure>
                    <h3>Mary Camila</h3>
                    <span class="fh5co-position">Web Developer</span>
                    <p>Trabalha a 7 anos com tecnologia da informação e atualmente é desenvolvedora back-end na startup HelpRemédios. Sobre comunidades participa a quase 3 anos do GDG Curitiba e também é lead do Women Techmakers Curitiba. Ama tecnologia e um bom desafio. Está sempre tentando buscar novas mulheres para a tecnologia e incentivar as que já estão na área. </p>
                    <ul class="social social-circle">
                        <li><a href="https://www.facebook.com/mary.bortoncello" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/mary-camila-8133aab7" target="_blank"><i class="icon-linkedin"></i></a></li>
                        <li><a href="mailto:marycamilainfo@gmail.com"><i class="icon-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fh5co-person text-center to-animate">
                    <figure><img src="images/person2.jpg" alt="Image"></figure>
                    <h3>Amanda Carneiro</h3>
                    <span class="fh5co-position">Developer</span>
                    <p>Trabalha a 7 anos com tecnologia da informação e atualmente é desenvolvedora back-end na startup HelpRemédios. Sobre comunidades participa a quase 3 anos do GDG Curitiba e também é lead do Women Techmakers Curitiba. Ama tecnologia e um bom desafio. Está sempre tentando buscar novas mulheres para a tecnologia e incentivar as que já estão na área. </p>
                    <ul class="social social-circle">
                        <li><a href="https://www.facebook.com/AmaandaCarneiro" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/carneiro-amanda/" target="_blank"><i class="icon-linkedin"></i></a></li>
                        <li><a href="mailto:carneiro.amanda@outlook.com"><i class="icon-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="fh5co-counters" style="background-image: url(images/full_image_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="fh5co-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center to-animate">
                <h2>Fatos Interessantes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-briefcase to-animate-2"></i>
                    <span class="fh5co-counter-number js-counter" data-from="0" data-to="89" data-speed="5000" data-refresh-interval="50">89</span>
                    <span class="fh5co-counter-label">Eventos Realizados</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-code to-animate-2"></i>
                    <span class="fh5co-counter-number js-counter" data-from="0" data-to="2343409" data-speed="5000" data-refresh-interval="50">2343409</span>
                    <span class="fh5co-counter-label">Line of codes</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-cup to-animate-2"></i>
                    <span class="fh5co-counter-number js-counter" data-from="0" data-to="1302" data-speed="5000" data-refresh-interval="50">1302</span>
                    <span class="fh5co-counter-label">Xicaras de cafés</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-people to-animate-2"></i>
                    <span class="fh5co-counter-number js-counter" data-from="0" data-to="52" data-speed="5000" data-refresh-interval="50">52</span>
                    <span class="fh5co-counter-label">Happy clients</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fh5co-contact" data-section="contato">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">CONTATO</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>Gostou da iniciativa e deseja ajudar? Tem alguma sugestão ou feedback? Preencha o formulário abaixo que logo entraremos em contato com você.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-6 to-animate">
                <h3>Informações</h3>
                <ul class="fh5co-contact-info">
                    <li class="fh5co-contact-address ">
                        <i class="icon-home"></i>
                        Curitiba, Paraná - Brasil
                    </li>
                    <li><i class="icon-phone"></i> (41) 99775-6166</li>
                    <li><i class="icon-envelope"></i><a href="mailto:womentechmakers@gmail.com" target="_blank">wtmcuritiba@gmail.com</a></li>
                    <li><i class="icon-globe"></i> <a href="http://wtmcuritiba.com.br/" target="_blank">wtmcuritiba.com.br</a></li>
                    <li><i class="icon-facebook"></i> <a href="https://www.facebook.com/wtmcuritiba/" target="_blank">wtmcuritiba</a>
                    <li><i class="icon-youtube"></i> <a href="https://www.youtube.com/user/womentechmakers" target="_blank">Women Techmakers</a>
                    <li>
                        <i class="icon-github"></i> <a href="https://github.com/wtm-curitiba" target="_blank">wtm-curitiba</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 to-animate">
                <form>
                    <h3>Contato</h3>
                    <div class="form-group ">
                        <label for="name" class="sr-only">Nome</label>
                        <input id="name" class="form-control" placeholder="Nome" type="text">
                    </div>
                    <div class="form-group ">
                        <label for="email" class="sr-only">Email</label>
                        <input id="email" class="form-control" placeholder="Email" type="email">
                    </div>
                    <div class="form-group ">
                        <label for="message" class="sr-only">Mensagem</label>
                        <textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Mensagem"></textarea>
                    </div>
                    <div class="form-group ">
                        <input class="btn btn-primary btn-lg" value="Enviar" type="submit">
                        <div id="loading-img" > </div>
                    </div>
                </form>
                <div id="response-form"> </div>
            </div>
        </div>
    </div>
    <div id="map" class="to-animate"></div>
</section>


<footer id="footer" role="contentinfo">
    <div class="container">
        <div class="col-md-4 text-center">
            <center>
                <div>
                    <img src="images/footer-google-developer-light.png" class="img img-responsive" style="height: 80px;opacity:0.9;" />
                </div>
            </center>
        </div>
        <div class="col-md-4 text-center">
            <center>
                <div>
                    <img src="images/footer-wtm-light.png" class="img img-responsive" style="height:75px;opacity:0.9;" />
                </div>
            </center>
        </div>
        <div class="col-md-4 text-center">
            <center>
                <div>
                    <img src="images/footer-gdg-light.png" class="img img-responsive" style="margin-top: 10px;opacity:0.9;" />
                </div>
            </center>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="js/jquery.stellar.min.js"></script>
<!-- Counter -->
<script src="js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
<script src="js/google_map.js"></script>
<!-- Typed JS -->
<script src="js/typed.js"></script>
<!-- Main JS (Do not remove) -->
<script src="js/main.js"></script>

<script>
    $(function () {
        $('form').submit(function () {
            var name = $('#name').val();
            console.log(name);
            var email = $('#email').val();
            var message = $('#message').val();

            //if ($(this).valid()) {
            //    $.ajax({
            //        url: this.action,
            //        type: this.method,
            //        data: $(this).serialize(),
            //        success: function (result) {
            //            $('#result').html(result);
            //        }
            //    });
            //}
            return false;
        });
    });
</script>